.navbar {
  .container {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navbar-toggler {
    border: none;
    padding: 0;

    &:focus { box-shadow: none; }
    .navbar-toggler-icon { width: 24px; }
  }
}

.search-bar {
  & > * { margin: 0 12px; }
  & > :first-child { margin-left: 0; }

  .search-input {
    .form-icon { margin-left: 17px; }
    .form-control { padding-left: 50px; }
  }
}

.page-header {
  margin-top: 32px;

  .title { font-size: 28px; }
  
  .breadcrumb {
    margin-bottom: 40px;
    
    .breadcrumb-item {
      font-size: 12px;
      
      &.active {
        font-family: 'Stolzl-Book';
        color: #747778;
      }

      &:before {
        font-size: 10px;
        color: #a9acac;
        margin-top: 2px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.dropdown {
  border: none;

  .dropdown-title { margin-right: 4px; }
  .lang-dropdown { padding: 8px 0; }
  
  .icon-dropdown {
    padding: 12px;

    .badge {
      background: #eff1f1;
      border: 2px #ffffff solid;
      border-radius: 100%;
      font-size: 10px;
      color: inherit;
    
      &.active {
        background: #ff5449;
        color: #ffffff;
      }
    }
  }
  
  .profile-dropdown {
    padding: 0; 

    .profile-picture { 
      object-fit: cover;
      margin-right: 8px;
    }
  }
}

.dropdown-nav {
  & > * { margin: 0 12px; }
  & > :last-child { margin-right: 0; }
}

.categories-nav {
  .nav-link {
    border-bottom: 2px transparent solid;
    font-family: 'Stolzl-Medium';
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 16px;
    color: #2d3132;
    transition: border-color .3s ease-in-out;

    &.active, &:hover { border-color: #2d3132; }
  }
}

.filters-section {
  margin-top: 32px;
  margin-bottom: 24px;

  .title {
    font-family: 'Stolzl-Book';
    font-size: 22px;
    color: #5c5f60;
  }

  .sort-select {
    .label {
      font-size: 12px;
      color: #5c5f60;
      margin-right: 12px;
    }
  }
}

.sort-select {
  .form-select {
    position: relative;
    background-color: #eff1f1;
    background-image: none;
    border: none;
    border-radius: 30px;
    font-family: 'Stolzl-Regular';
    padding: 8px 12px;
    padding-right: 38px;
    width: auto;
  }

  .select-chevron {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 12px 0 8px;
    border-left: 2px #ffffff solid;
    pointer-events: none;
  }
}

.accordion {
  .accordion-item { margin-bottom: 2px; }

  .accordion-button {
    font-family: 'Stolzl-Book'; 
    font-size: 14px;
  }

  .accordion-body {
    border: 1px #eff1f1 solid;
  }
}

.form-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  
  .form-check-input {
    margin: 0; 
  }

  .form-check-label {
    font-family: 'Stolzl-Book';
    font-size: 14px;
    color: #444748;
    margin-left: 18px;
  }
}

.form-floating {
  .form-control {
    border: none;
    border-bottom: 1px #e0e3e3 solid;
    border-radius: 0;
    font-family: 'Stolzl-Regular';
    padding: 12px 0;
    height: 45px;
  }

  label {
    font-family: 'Stolzl-Book';
    font-size: 12px;
    color: #747778;
    padding: 12px 0;
  }
}

@media (max-width: 992px) {
  .search-bar { margin-bottom: 12px; }
  .dropdown-nav {
    & > * { margin: 0; }
  }

  .page-header {
    margin-top: 32px;

    .breadcrumb { margin-bottom: 18px; }
  }

  .filters-section {
    margin-top: 18px;
  }
}

@media (max-width: 576px) {
  .search-bar {
    & > * { margin: 4px 0; }
    & > :first-child { margin-top: 0; }
    & > :last-child { margin-bottom: 0; }
  }
}

@import './utilities.scss'
