// BASE SETUP
a {
  border-bottom: 1px transparent solid;
  transition: border-color .15s ease-in-out;

  &:focus {
    border-color:#2d3132;
    outline: none;
  }
}

// PROMO CAROUSEL
.carousel {
  .carousel-item {
    .title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      color: #0f1a34;
    }

    .icon-row {
      & > :first-child { transform: rotate(-30deg); }
      & > :last-child { transform: rotate(30deg); }
      
      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
  }
}

// NAVBAR
.navbar {
  padding: 0;

  .container {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navbar-divider {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 0;
  }

  .navbar-brand { border: none; }

  .navbar-toggler {
    border: none;
    padding: 0;

    &:focus { box-shadow: none; }

    &:not(.collapsed) {
      .icon-bar.top-bar { transform: translate(15%, -33%) rotate(45deg); }
      .icon-bar.middle-bar { opacity: 0; }
      .icon-bar.bottom-bar { transform: translate(15%, 33%) rotate(-45deg); }
    }

    .icon-bar {
      display: block;
      background: #747778;
      width: 25px;
      height: 3px;
      margin-top: 5px;
      margin-bottom: 5px;
      opacity: 1;
      transform-origin: center left;
      transition: all .25s ease-in-out;

      &.top-bar { transform: translate(0%, 0%) rotate(0deg); }
      &.middle-bar { opacity: 1; }
      &.bottom-bar { transform: translate(0%, 0%) rotate(0deg); }
    }
  }
}

// SEARCH BAR
.search-bar {
  & > * { margin: 0 12px; }
  & > :first-child { margin-left: 0; }

  .search-input {
    .icon-search { margin-left: 17px; }
    
    .icon-close {
      border: none;
      padding: auto 17px;
    }
    
    .form-control { 
      padding-left: 50px;
      padding-right: 54px;
    }
  }

  .btn-search:hover, .btn-search:focus {
    background: #444748;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, .16);
  }
}

// DROPDOWNS
.dropdown {
  border: none;

  .dropdown-title { margin-right: 4px; }
  .lang-dropdown { padding: 8px 0; }
  
  .icon-dropdown {
    padding: 12px;

    .badge {
      background: #eff1f1;
      border: 2px #ffffff solid;
      border-radius: 100%;
      font-size: 10px;
      color: inherit;
    
      &.active {
        background: #ff5449;
        color: #ffffff;
      }
    }
  }
  
  .profile-dropdown {
    padding: 0; 

    .profile-picture { 
      object-fit: cover;
      margin-right: 8px;
    }
  }
}

// DROPDOWNS ROW
.dropdown-nav {
  & > * { margin: 0 12px; }
  & > :last-child { margin-right: 0; }
}

// CATEGORIES NAVIGATION
.categories-nav {
  .nav-link {
    border-bottom: 2px transparent solid;
    font-family: 'Stolzl-Medium';
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 16px;
    color: #2d3132;
    transition: border-color .3s ease-in-out;

    &.active, &:hover, &:focus {
      border-color: #2d3132;
      outline: none;
    }
  }
}

// PAGE HEADER
.page-header {
  margin-top: 32px;

  .title { font-size: 28px; }
}

// BREADCRUMB
.breadcrumb {
  margin-bottom: 40px;
  
  .breadcrumb-item {
    font-size: 12px;
    
    &.active {
      font-family: 'Stolzl-Book';
      color: #747778;
    }

    &:before {
      font-size: 10px;
      color: #a9acac;
      margin-top: 2px;
    }

    a {
      border-bottom: 1px transparent solid;
      color: inherit;
      text-decoration: none;
      transition: border-color .15s ease-in-out;

      &:hover {
        border-color: #2d3132;
      }
    }
  }
}

// FILTERS SECTION
.filters-section {
  margin-top: 32px;
  margin-bottom: 24px;

  .title {
    font-family: 'Stolzl-Book';
    font-size: 22px;
    color: #5c5f60;
  }

  .sorting-select {
    .label {
      font-size: 12px;
      color: #5c5f60;
      margin-right: 12px;
    }
  }
}

// CUSTOM SELECT
.select {
  .form-select {
    position: relative;
    background-color: #eff1f1;
    background-image: none;
    border: none;
    border-radius: 30px;
    font-family: 'Stolzl-Regular';
    padding: 8px 12px;
    padding-right: 38px;
    width: auto;
  }

  .select-chevron {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 12px 0 8px;
    border-left: 2px #ffffff solid;
    pointer-events: none;
  }
}

// ACCORDION
.accordion {
  .accordion-item { margin-bottom: 2px; }

  .accordion-button {
    font-family: 'Stolzl-Book'; 
    font-size: 14px;
  }

  .accordion-collapse {
    &.collapsing {
      .range-thumb {
        opacity: 0;
      }
    }

    .accordion-body { border: 1px #eff1f1 solid; }
  }
}

// FLOATING LABEL INPUT
.form-floating {
  .form-control {
    border: none;
    border-bottom: 1px #e0e3e3 solid;
    border-radius: 0;
    font-family: 'Stolzl-Regular';
    padding: 12px 0;
    height: 45px;

    &:hover, &:focus { border-color: #2d3132; }
  }

  label {
    font-family: 'Stolzl-Book';
    font-size: 12px;
    color: #747778;
    padding: 12px 0;
  }
}

// PRICE RANGE
.range-track {
  background: #c4c7c7;
  width: 100%;
  height: 4px;
  margin: 6px 0;

  .range-thumb {
    background: #5c5f60;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    transition: opacity .15s ease-in-out;

    &:focus { outline: none; }
  }
}

// CHECKBOX
.form-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  
  .form-check-input {
    flex-shrink: 0;
    margin: 0;

    &:focus { border-color: #2d3132; }
  }

  .form-check-label {
    font-family: 'Stolzl-Book';
    font-size: 14px;
    color: #444748;
    margin-left: 18px;

    .count { color: #747778; }
  }
}

// CARD
.card {
  .card-header, .card-footer {
    background: inherit;
    border: none;
  }

  .card-header {
    width: 100%;
    height: 305px;
    padding: 24px;
    padding-bottom: 16px;
    
    .btn-like {
      position: absolute;
      border: none;
      top: 24px;
      right: 24px;
      padding: 0;
      margin: 0;

      svg path {
        transition: all .15s ease-in-out;
      }
    }

    img {
      width: 100%;
      height: 100%;
      padding: 20px 28px;
      object-fit: contain;
    }

    .badge {
      position: absolute;
      left: 24px;
      bottom: 24px;
      background: #b4fff0;
      padding: 4px 8px;
      font-size: 10;
      line-height: 15px;
      color: #00382f;
    
      &.tag {
        top: 24px;
        bottom: auto;
        left: 24px;
        background: #e0e0e3;
        color: inherit;
      }
    }
  }

  .card-body {
    padding-top: 0;

    .card-title { font-size: 14px; }

    .card-subtitle {
      font-family: 'Stolzl-Medium';
      font-size: 10px;
      margin: 0;
      margin-bottom: 4px;
    }
  }

  .card-footer {
    padding-top: 0;
    padding-bottom: 24px;

    .price {
      font-family: 'Stolzl-Medium';
      font-size: 14px;
    }

    .old-price {
      font-family: 'Stolzl-Book';
      font-size: 12px;
      color: #747778;
    }

    .location {
      font-family: 'Stolzl-Book';
      font-size: 12px;
      margin-left: 2px;
    }

    .username {
      font-size: 14px;
      margin-left: 8px;
    }
  }
}

// PAGINATION
.pagination {
  font-family: 'Stolzl-Medium';
  margin: 56px 0;

  .page-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 2px #c4c7c7 solid;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    margin: 0 4px;

    &.active {
      border-color: #2d3132;
      width: 40px;
      height: 40px;

      .page-link { color: inherit; }
    }

    &:first-child, &:last-child {
      border-radius: 30px;
      width: auto;
    }

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }

    .page-link {
      background: none;

      &:hover { color: inherit; }
    }
  }
}

// FOOTER
footer {
  background: #eff1f1;
  padding-bottom: 38px;
  font-size: 14px;
  
  .footer-links {
    border-bottom: 1px #c4c7c7 solid;
    margin-bottom: 38px;
    padding: 72px 0;

    li {
      margin-bottom: 12px;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .link-app { border: none;}

  .copyright {
    font-family: 'Stolzl-Book';
    font-size: 12px;
  }
}

@import './breakpoints.scss';
