@font-face {
  font-family: 'Stolzl-Regular';
  src: local('Stolzl-Regular'), url('../fonts/Stolzl-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Stolzl-Book';
  src: local('Stolzl-Book'), url('../fonts/Stolzl-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Stolzl-Medium';
  src: local('Stolzl-Medium'), url('../fonts/Stolzl-Medium.ttf') format('truetype');
}

// THEME COLORS
$theme-colors: (
  'light': #ffffff,
  'lightgray': #e0e3e3,
  'darkgray': #2d3132,
);

// BODY SETUP
$body-bg: #ffffff;
$body-color: #2d3132;
$border-color: #e0e3e3;
$border-radius: 4px;
$font-family-sans-serif: 'Stolzl-Regular';
$text-muted: #5c5f60;

// GRID SETUP
$gutters: (
  24: 24px
);

// FORMS SETUP
$btn-padding-x: 20px;
$btn-padding-y: 10px;
$btn-font-size: 12px;

$input-padding-x: 20px;
$input-padding-y: 10px;
$input-border-color: #e0e3e3;
$input-border-width: 2px;
$input-font-family: 'Stolzl-Book';
$input-font-size: 12px;
$input-placeholder-color: #5c5f60;
$input-focus-border-color: #c4c7c7;
$input-focus-box-shadow: none;

$input-btn-focus-color: #c4c7c7;

// NAVBAR SETUP
$navbar-brand-margin-end: 57px;

// DROPDOWN SETUP
$dropdown-border-color: #eff1f1; 
$dropdown-font-size: 12px;

// ACCORDION SETUP
$accordion-button-bg: #eff1f1;
$accordion-button-color: #444748;
$accordion-button-active-bg: $accordion-button-bg;
$accordion-button-active-color: $accordion-button-color;
$accordion-border-width: 0;
$accordion-border-radius: 0;
$accordion-icon-color: #747778;
$accordion-icon-width: 18px;

// CHECKBOX SETUP
$form-check-input-width: 16px;
$form-check-input-bg: $body-bg;
$form-check-input-border: 2px #c4c7c7 solid;
$form-check-input-checked-bg-color: #2d3132;
$form-check-label-cursor: pointer;
$form-check-padding-start: $form-check-input-width + 18px;
$form-check-transition: all .15s ease-in-out;

// FLOATING LABEL SETUP
$form-floating-label-opacity: 1;
$form-floating-label-transform: scale(.85) translateY(-.5rem);

// CARD SETUP
$card-border-color: #eff1f1;
$card-spacer-x: 24px;
$card-spacer-y: $card-spacer-x;

// PAGINATION SETUP
$pagination-font-size: 10px;
$pagination-color: #5c5f60;
$pagination-border-width: 0;
$pagination-focus-color: #5c5f60;
$pagination-focus-box-shadow: none;

@import '~bootstrap/scss/bootstrap.scss'
